.tweetable-text {
  position: relative;
}

.tweetable-text a {
  text-decoration: none;
  border-bottom: 0px dotted #ed2e24;
  color: #333;
  background: whitesmoke;
}

.tweetable-text a:hover {
  text-decoration: none;
  border-bottom: 0px dotted #ed2e24;
  color: #ed2e24;
}

.tweetable-text-icon {
  color: #ed2e24;
}

.tweetable-text-sharebuttons {
  display: none;
  position: absolute;
  top: -30px;
  left: 0px; z-index: 101;
  width: 55px;
  background: #ed2e24;
  color: whitesmoke;
  border-radius: 3px;
  height: 20px;
  padding: 5px; text-align:
  center; font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.tweetable-text-sharebuttons a {
  color: whitesmoke;
  background: #ed2e24;
  border: 0;
}

.tweetable-text-sharebuttons a:hover {
  color: whitesmoke;
  background: #ed2e24;
  border: 0;
}
